extends layout
block heads
  script(src='/js/main.js')
block content
  .wrap.container
    //h1= title
    //p Welcome to #{title}
    //.btn.btn-primary.video-button dfdfdfdf
    //.vieo-container
    .users-list
      - console.log('7777777777', users)
      - if (users) {
        - for (var i = 0; i < users.length; i++) {
          include includes/singer-plate
        - }
      - }

