//
   Created by Lich on 03.11.2016.
extends layout

block heads
  script(src='/js/main.js')
block content
  .wrap
    h1= title
    p Welcome to #{title}
    form(method="POST", action="singers")
      input(name="name")
      input(name="description")
      button(type="submit") send