body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ccc !important;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
a {
  color: #00b7ff;
}
.plate {
  display: inline-block;
  width: 205px;
  height: 190px;
  margin: 9px;
  padding: 1px;
  background-color: #fff;
}
.main-photo {
  position: relative;
  width: 100%;
}
.from {
  font-size: 10px;
}
